<div class="page">
  <div class="wrapper">
    <%- partial('_partial/blocks/doc_navigation', {namespace: page.namespace}) %>
    <div class="page-content">
      <%-  page.content %>
    </div>
  </div>

</div>
