<div class="main-hero_wrapper">
  <div class="main-hero">
    <%- image_tag('images/logo.svg') %>
    <div class="navigation">
      <a class="button" href="<%= url_for('docs') %>"><i class="fa fa-book icon"></i> Read the docs</a>
      <a class="button blue" href="https://github.com/plasmaticjs/plasmatic" target="_blank"><i class="fa fa-github icon"></i> Check Repository</a>
    </div>
  </div>
</div>

