<div class="search_layout">
  <div class="search_layout-box">
    <input type="text" value="Search Documentation" class="js-search_box-input"></input>
  </div>
  <div class="search_layout-results">
    <ul class="js-search_layout-results">
    </ul>
  </div>
  <div class="search_layout-close">
    <a class="js-search_box-close">
      <i class="fa fa-times"></i> Close
    </a>
  </div>
</div>
